:root {
  --gradient: linear-gradient(
    45deg,
    rgb(245, 13, 13),
    rgb(81, 141, 230),
    rgb(241, 43, 199)
  );
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav {
  max-width: 100%;
  margin-top: 0.5em;
  background-color: #fff !important;
}
.header-list ul {
  position: fixed;
  right: 18em;
}
.header-list ul li {
  margin: 1em;
  padding: 0.5em;
}

.header-list .header-btn {
  color: #000;
  font-size: 12px;
  /* position: relative; */
  background-color: #fff;
  padding: 0.45em 0.6em;
  border: 2px solid #000;
  border-radius: 10px;
  position: fixed;
  right: 3em;
  text-decoration: none;
  /* overflow: hidden; */
}
/* .header-list .header-btn::before {
  content: "";
  position: absolute;
  width: 72px;
  top: -10px;
  left: 0;
  height: 90px;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 4s linear infinite;
}
.header-list .header-btn::after {
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: 10px;
  background: #fff;
} */
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(350deg);
  }
}

.header-list .header-btn:hover {
  background-color: #000;
  color: #fff;
}

nav .title {
  margin-left: 5em;
}

.section {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 80vh;
  text-align: center;
  align-items: center;
}
.section-left {
  text-align: left;
  margin-left: 5em;
  margin-bottom: 8em;
}
.section-title {
  position: relative;
  margin-bottom: 1em;
}
.section-title h1 {
  font-size: 2.9em;
  line-height: 1.5em;
  font-weight: 2em;
}
.name {
  background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: text-grad 20s infinite;
}

@keyframes text-grad {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
/* .section-title::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, rgb(245, 120, 3), rgb(228, 243, 18));
  border-radius: 50%;
  z-index: -1;
  top: 0px;
  right: 180px;
} */
.dynamic-typing {
  font-size: 2.2em;
  font-weight: 2.2em;
  position: relative;
}
.dynamic-typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  margin-left: 3px;
  border-right: 2px solid #000;
  animation: blank 0.5s infinite ease;
}
@keyframes blank {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-btn {
  font-size: 15px;
  padding: 0.3em 0.8em;
  margin: 1em;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 6px 6px -6px rgb(223, 34, 34);
}
.gradient-btn {
  border: 0;
  background: var(--gradient);
  background-size: 300%;
  background-position: left;
  transition: background-position 350ms;
}
.section-btn:hover {
  background-position: right;
}
.section-desc {
  margin-bottom: 20px;
}
.section-right {
  position: relative;
}
.section-profile {
  position: relative;
}
.section-profile img {
  width: 450px;
  height: 450px;
}

.section-profile::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: rgb(236, 128, 65); /*rgb(212, 146, 196)*/
  border-radius: 50%;
  top: 60px;
  left: 130px;
  z-index: -1;
}
.section-profile::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: rgb(116, 223, 143);
  border-radius: 50%;
  bottom: 120px;
  right: 120px;
  z-index: -1;
}
.footer {
  /* margin-top: 90px; */
  position: relative;
}
.social-links {
  display: flex;
  position: absolute;
  top: 130px;
  left: 20px;
}
.social-links li {
  list-style: none;
  margin-right: 1.9em;
}
.social-links li a i {
  font-size: 20px;
}

.contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 229, 236);
}
.contact-form {
  background-color: #fff;
  padding: 40px;
  border: 1px solid rgb(240, 234, 234);
  box-shadow: 3px 3px 5px rgb(66, 61, 61);
  border-radius: 15px;
  position: relative;
}
.contact-form .form-close {
  position: absolute;
  right: 10px;
  font-size: 20px;
  top: 8px;
  text-decoration: none;
  color: #000;
}
.contact-form h2 {
  text-align: center;
}
textarea {
  resize: none !important;
}
.contact-submit {
  color: #fff;
  width: 100%;
  text-transform: capitalize;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}
.contact-submit:hover {
  background-position: right;
}
.field-required {
  font-weight: bold;
  color: rgba(194, 0, 0, 1);
}
